{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}وب‌سایت من{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header>
        <h1>وب‌سایت من</h1>
        {% if messages %}
        <ul>
            {% for msg in messages %}
            <li>
                {{msg}}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if user.is_authenticated %}
            {{user.first_name}}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>تمامی حقوق محفوظ است.</p>
    </footer>

</body>
</html>