{% extends 'base.html' %}
{% load my_tags %}
{% block title %}Profiles List{% endblock %}
{% block  content %}

<h1>Profiles</h1>
<ul>
    {% last_profiles 2 as last_profile %}
    {% for p in last_profile %}
    <li>
        <a href="{% url 'profile-detail' p.pk %}">
            {{ p.full_name }} - {{ p.role }}
        </a>
    </li>
    {% empty %}
    <li>
        No profile
    </li>
    {% endfor %}
</ul>
<ul>
    {% for p in profiles %}
    <li>
        <a href="{% url 'profile-detail' p.pk %}">
            {{ p.full_name }} - {{ p.role }}
        </a>
    </li>
    {% empty %}
    <li>
        No profile
    </li>
    {% endfor %}
</ul>
{% endblock %}